<div class="banner">
    <div class="container p-5 h-100">
        <h1 class="logo-font text-uppercase text-center">Наша цены</h1>
    </div>
</div>
<div class="page">
    <div class="container h-100 py-4">
        <div class="row">
            <div class="col-sm-6 col-xs-12 text-center align-self-center">
                <img width="100%" height="auto" src="assets/price-dependency2.png">
            </div>
            <div class="col-sm-6 col-xs-12 align-self-center">
                <h3 class="py-3">Цены могут вариироваться в зависимости от требований к работе</h3>

           </div>
        </div>
    </div>
</div>
<div class="container h-100 py-4">
    <div class="text-center">
        <img width="50" height="auto" src="assets/typography.png">
    <h5 class="py-4">Тип работ</h5>

    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 small-text align-self-center">

            <div class="d-flex justify-content-between">
                <p>Лабораторная работа</p> 
                <p class="red-text font-weight-bolder">от 50 грн</p>
            </div>
           <div class="d-flex justify-content-between">
            <p>Презентация </p> 
            <p class="red-text font-weight-bolder"> от 100 грн</p></div>
           <div class="d-flex justify-content-between">
            <p>Докдад </p>  
            <p class="red-text font-weight-bolder"> от 150 грн</p>
            </div>
           <div class="d-flex justify-content-between">
            <p>Статья </p>  
            <p class="red-text font-weight-bolder"> от 300 грн</p></div>
           <div class="d-flex justify-content-between">
            <p>Отчет по практике </p>  
            <p class="red-text font-weight-bolder"> от 400 грн</p></div>
           <div class="d-flex justify-content-between">
            <p>Курсовая работа </p>  
            <p class="red-text font-weight-bolder"> от 450 грн</p></div>
           <div class="d-flex justify-content-between">
            <p>Дипломная работа </p>  
            <p class="red-text font-weight-bolder"> от 1500 грн</p></div>
           <div class="d-flex justify-content-between">
            <p>Диссертация </p>  
            <p class="red-text font-weight-bolder"> от 30000 грн</p></div>
        </div>
        <div class="col-md-6 col-sm-12 small-text align-self-center">
            <div class="d-flex justify-content-between">
                <p> Набор текста</p>  
                <p class="red-text font-weight-bolder">  от 10 грн за стр</p>
            </div>
           <div class="d-flex justify-content-between">
            <p> Решение задач</p>  
            <p class="red-text font-weight-bolder">  от 30 грн</p>   
            </div>
           <div class="d-flex justify-content-between">
            <p> Чертеж</p>  
            <p class="red-text font-weight-bolder">  от 100 грн</p>    
            </div>
           <div class="d-flex justify-content-between">
            <p> Эссе</p>  
            <p class="red-text font-weight-bolder">  от 150 грн</p>    
           </div>
           <div class="d-flex justify-content-between">
            <p> Реферат</p>  
            <p class="red-text font-weight-bolder">  от 150 грн</p>
           </div>
           <div class="d-flex justify-content-between">
            <p> Контрольная работа</p>  
            <p class="red-text font-weight-bolder">  от 250 грн</p>   
            </div>
           <div class="d-flex justify-content-between">
            <p> Магистерская работа</p>  
            <p class="red-text font-weight-bolder">  от 2500 грн</p>    
          </div>
        </div>
    </div>
</div>
<div class="bg-red">
<div class="container">
    <div class="row">
        <div class="bg-red py-4 col-sm-12 text-center">
                <p>свяжись с нами</p>
                <h3>Вы не нашли подходящую работу?</h3>
                <div class="my-4">
                    <button class="button"
                    [innerText]="text.contactbutton.title"
                    (click)="contactClick()">
                    </button>
                </div>
        </div>
    </div>
</div>
</div>