<div class="banner">
    <div class="container p-5 h-100">
        <h1 class="logo-font text-uppercase text-center">О Нас</h1>
    </div>
</div>
<div class="container h-100 py-4">
    <h3>История</h3>
    <p>
        Наша команда работает для вас уже на протяжении 4-х лет.
         У нас большой опыт в написании всех студенческих работ
         (дипломов, рефератов, контрольных, курсовых и тд.)
         Трудимся не покладая рук 24/7, выходных и праздников для нас не существует.
         У нас богатая база авторов, специалисты разных областей знаний.
         Большинство авторов, это преподаватели различных ВУЗов Украины.
    </p>
</div>
<div class="page">
    <div class="d-flex flex-md-row flex-column-reverse">
        <div >
            <img height="100%" width="100%" src="assets/img/office.jpg">
        </div>
        <div class="container">
        <div class="d-flex flex-column">
           <div class="flex-row d-flex py-4 justify-content-center">
            <img width="50" height="auto" src="assets/history.png">
            <h3 class="px-2">
                Text</h3>
           </div>
            <p class="my-2 small-text">
                Мы имеем хорошую репутацию в сфере
                    предоставления данных услуг как среди студентов
                    так и в среде других партнеров по всей Украине.
                    И это неудивительно, так как мы выполняем нашу работу качественно,
                    в срок и с высоким процентом уникальности. </p>
            <p class=" my-2 small-text">
                Каждый заказ мы ведем с момента указания цены и до момента защиты работы.  Работы выполняем согласно всех ваших требований. Круглосуточно мы на связи с вами. Для нас является приоритетом, чтобы вы получили высокий балл за заказанную работу.
            </p>
        </div>
    </div>
    </div>
</div>
