<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']"><img src="../../../assets/img/naotlichnoLogo.png" width="50" height="auto" alt="Na otlichno" ></a>

        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse text-center" (click)="isCollapsed = true">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/home']">Главная <span *ngIf="isActiveLink('/home')" class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/about']">О Нас <span *ngIf="isActiveLink('/about')" class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/contact']">Контакт <span *ngIf="isActiveLink('/about')" class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/price']">Прайс лист <span *ngIf="isActiveLink('/about')" class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pay']">Оплата <span *ngIf="isActiveLink('/about')" class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
    </div>
</nav>
