<div class="banner">
    <div class="container p-5 h-100 text-center">
        <div class="d-flex flex-column justify-content-evenly align-items-center h-75">
             <h1 class="logo-font text-uppercase">Оплата</h1>
            <div class="d-flex flex-row m-4">
                <h4 class="mx-2">Мы работаем по предоплате 50%</h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="row my-4 py-4">
    <div class="col-sm-6 col-xs-12">
        <div class="text-center">
            <img width="50" height="auto" src="assets/shopping.png">
        <h5 class="py-4">Весь процесс от заказа работы до получения</h5>

        </div>
        <ul>
            <li>
                Мы оцениваем ваш запрос
            </li>
            <li>
                После внесения оплаты 50% наш автор приступает к выполнению вашего заказа
            </li>
            <li>
                От нас приходит уведомление о завершении работы над вашим заказом с прикрепленным файлом, в котором вы увидите часть вашей работы.
            </li>
            <li>
                Вы оплачиваете остальные 50% от стоимости заказа
            </li>
            <li>
                Получаете файл с вашей работой.
            </li>
        </ul>
       
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="text-center">
            <img width="50" height="auto" src="assets/choices.png">
            <h5 class="py-4">Заказать работу вы можете любым комфортным способом для вас</h5>

        </div>
        <ul>
            <li>
                Заполнить форму “Заказать работу”
            </li>
            <li>
                Написать нам на почту  
                <a class="cursor" (click)="sendEmail()" role="button">
                    naotlichno.com.ua@gmail.com
                </a>
            </li>
            <li>
                Позвонить по номеру <a class="cursor" href="tel:+380977162157">+38 097 7162157</a>
            </li>
            <li>
                Написать нам в мессенджеры  +38 097 7162157 Viber или воспользоваться сервисом 
                <a class="cursor" (click)="onTelegram($event)">
                    Telegram
                </a>
                 на сайте
            </li>
            <li>
                Отправить сообщение заполнив  
                <a class="cursor" (click)="contactClick()">форму на сайте</a>
            </li>
        </ul>
    </div>
</div>
</div>
