<div class="banner">
    <div class="container p-5 h-100">
      <div class="d-flex flex-column justify-content-evenly align-items-center h-75">

          <h1 class="logo-font text-uppercase text-center my-4">Связаться с нами</h1>

            <div class="d-flex flex-row m-2">
                <img width="40" height="auto" src="assets/phone-call.png">
                <h4 class="mx-2">097-716-21-57</h4>
            </div>
            <div  class="d-flex flex-row m-2">
                <img width="40" height="auto" src="assets/email.png">
                <h4 class="mx-2">naotlichno.com.ua@gmail.com</h4>
            </div>
        </div>
    </div>
</div>
<div class="container h-100 py-4" [hidden]="showSendMsg">
    <div class="text-center">
        <img width="50" height="auto" src="assets/box.png">
        <h5 class="py-4">Заказать работу</h5>
    </div>
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <app-label [labelName]="text.label.name"
                 [errorText]="error.text.name"
                 [showError]="orderForm.controls.name.invalid && orderForm.controls.name.touched"
      >
        <input type="text"
               formControlName="name"
               class="form-control"
               placeholder="Ваше имя"
                required>
      </app-label>
    </div>
    <div class="form-group">
        <app-label [labelName]="text.label.email"
                    [errorText]="error.text.email"
                   [showError]="orderForm.controls.email.invalid && orderForm.controls.email.touched"
        >
          <input type="email"
                 formControlName="email"
                 class="form-control"
                 placeholder="name@example.com"
                >
        </app-label>
    </div>
    <div class="form-group">
        <app-label [labelName]="text.label.tel"
                    [errorText]="error.text.tel"
                   [showError]="orderForm.controls.tel.invalid && orderForm.controls.tel.touched"
        >
        <input type="tel"
               onkeypress='return event.charCode <= 57'
               formControlName="tel"
               class="form-control"
               placeholder="05012434567"
               required>
        </app-label>
    </div>
      <div class="form-group">
        <app-label [labelName]="text.label.topic"
                    [errorText]="error.text.topic"
                   [showError]="orderForm.controls.topic.invalid && orderForm.controls.topic.touched"
        >
        <input type="text" formControlName="topic" class="form-control" placeholder="Тема работы">
        </app-label>
      </div>
      <div class="form-group">
        <app-label [labelName]="text.label.type"
                    [errorText]="error.text.type"
                   [showError]="orderForm.controls.type.invalid && orderForm.controls.type.touched"
        >
        <input type="text" formControlName="type" class="form-control" placeholder="Тип работы">
        </app-label>
      </div>
    <div class="form-group">
      <app-label [labelName]="text.label.subject"
        [errorText]="error.text.subject"
        [showError]="orderForm.controls.subject.invalid && orderForm.controls.subject.touched"
        [infoText]="text.info">
        <select class="form-control form" formControlName="subject" >
          <option value="" disabled style="display: none;">Пожалуйста выберите предмет</option>
          <option *ngFor="let s of subjectName"> {{ s }}</option>
        </select>
      </app-label>
    </div>
    <div class="form-group">
        <app-label [labelName]="text.label.deadline"
                    [errorText]="error.text.deadline"
                   [showError]="orderForm.controls.deadline.invalid && orderForm.controls.deadline.touched"
        >
            <input type="text" formControlName="deadline" class="form-control" placeholder="20 стр до 10.10.21">
        </app-label>
      </div>
    <div class="form-group">
        <app-label [labelName]="text.label.message"
        >
            <textarea class="form-control" formControlName="message" rows="3"></textarea>
        </app-label>
    </div>
    <button type="submit" [innerHTML]="text.button.title"
                          [disabled]="!orderForm.valid"
            class="button-orange mb-2">
    </button>
  </form>
</div>
<div class="container h-100 py-4" [hidden]="!showSendMsg">
  <div class="text-center">
      <img width="50" height="auto" src="assets/box.png">
      <h5 class="py-4">Вы заказали у нас работу</h5>
      <p>Мы свяжемся с вами при первой возможности</p>
  </div>
</div>
