<div class="banner">
    <div class="container p-5 h-100">
        <h1 class="logo-font text-uppercase text-center">Связаться с нами</h1>
        <div class="d-flex flex-column align-items-center h-75">
            <div class="d-flex flex-row m-4">
                <img width="40" height="auto" src="../../assets/phone-call.png">
                <h4 class="mx-2">097-716-21-57</h4>
            </div>
            <div  class="d-flex flex-row m-4">
                <img width="40" height="auto" src="../../assets/email.png">
                <h4 class="mx-2">naotlichno.com.ua@gmail.com</h4>
            </div>
        </div>
    </div>
</div>
<div class="container h-100 py-4">
<form>
    <div class="form-group">
      <app-label [labelName]="text.label.name"></app-label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <app-label [labelName]="text.label.email"></app-label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <app-label [labelName]="text.label.tel"></app-label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <app-label [labelName]="text.label.topic"></app-label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <app-label [labelName]="text.label.type"></app-label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    <div class="form-group">
        <app-label [labelName]="text.label.subject"></app-label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
        <app-label [labelName]="text.label.deadline"></app-label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    <div class="form-group">
        <app-label [labelName]="text.label.message"></app-label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" [innerHTML]="text.button.title" class="button-orange mb-2"></button>
  </form>
</div>