<div class="banner">
    <div class="container p-5 h-100">
        <h1 class="logo-font text-uppercase text-center">Связаться с нами</h1>
        <div class="d-flex flex-column align-items-center h-75">
            <div class="d-flex flex-row m-4">
                <img width="40" height="auto" src="../../assets/phone-call.png">
                <h4 class="mx-2">097-716-21-57</h4>
            </div>
            <div  class="d-flex flex-row m-4">
                <img width="40" height="auto" src="../../assets/email.png">
                <h4 class="mx-2">naotlichno.com.ua@gmail.com</h4>
            </div>
        </div>
    </div>
</div>
<div class="container h-100 py-4">
    <div class="text-center">
        <img width="50" height="auto" src="../../assets/box.png">
        <h5 class="py-4">Заказать работу</h5>
    </div>  
<form [formGroup]="orderForm">
    <div class="form-group">
      <app-label [labelName]="text.label.name"
                 [errorText]="error.text.name" >
      <input type="email" class="form-control" placeholder="Ваше имя">
    </app-label>
    </div>
    <div class="form-group">
        <app-label [labelName]="text.label.email"
                    [errorText]="error.text.email">
        <input type="email" class="form-control" placeholder="name@example.com">

                </app-label>
      </div>
      <div class="form-group">
        <app-label [labelName]="text.label.tel"
        [errorText]="error.text.tel" >
        <input type="tel" class="form-control" placeholder="05012434567">
    </app-label>
      </div>
      <div class="form-group">
        <app-label [labelName]="text.label.topic"
        [errorText]="error.text.topic">
        <input type="email" class="form-control" placeholder="Тема рыботы">
    </app-label>
      </div>
      <div class="form-group">
        <app-label [labelName]="text.label.type"
        [errorText]="error.text.type">
        <input type="email" class="form-control" placeholder="Тип работы">
    </app-label>
      </div>
    <div class="form-group">
        <app-label [labelName]="text.label.subject"
        [errorText]="error.text.subject"
        [showError]="subject.touched && subject.invalid">
      
      <select class="form-control form" formControlName="subject" >
        <option value="" disabled style="display: none;">Пожалуйста выберите предмет</option>
        <option *ngFor="let s of subjectName"> {{ s }}</option>
      </select>
      {{subject.invalid}}
    </app-label>
    </div>
    <div class="form-group">
        <app-label [labelName]="text.label.deadline"
                    [errorText]="error.text.deadline"
                >
            <input type="email" class="form-control" placeholder="20 стр до 10.10.21">
        </app-label>
      </div>
    <div class="form-group">
        <app-label [labelName]="text.label.message"
            [errorText]="error.text.message">
        <textarea class="form-control" rows="3"></textarea>
    </app-label>
    </div>
    <button type="submit" [innerHTML]="text.button.title" class="button-orange mb-2"></button>
  </form>
</div>