  <ul class="position-fixed fixed-left navbar-nav mt-2 mt-lg-0">
    <li class="nav-item networks">
      <a class="nav-link" (click)="onTelegram($event)">
        <img src="assets/telegram-red.png" class="social-icons" width="20" height="20" >
      </a>
    </li>
    <li class="nav-item networks">
      <a class="nav-link" href="https://www.instagram.com/naotlichno.com.ua/" (click)="router.navigateByUrl('/external?url=https://www.instagram.com/naotlichno.com.ua/');false">
        <img src="assets/instagram-red.png" class="social-icons" width="20" height="20">
      </a>
    </li>
   <!--<li class="nav-item networks">
      <a class="nav-link" href="#">
        <img src="assets/whatsapp-red.png" class="social-icons" width="20" height="20">
      </a>
    </li>--> 
  </ul>
