@import '../../styles/colors';

.banner {
    background-image: url('../../assets/rabotinaotlichno.png'), linear-gradient(332deg, $el-antrazit 17%, #343a40 100%);
   // background-color: linear-gradient(332deg, $el-antrazit 17%, #343a40 100%);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    color: $el-ui-grey-1;
    height: 40vh;
}
