<div class="banner">
    <div class="container p-5 h-100">
        <h1 class="logo-font text-uppercase text-center">Студенческие работы на заказ</h1>
        <div class="d-flex justify-content-center align-items-end h-75">
            <button class="button"
            [innerText]="text.button.title"
            (click)="contactClick()">
            </button>
        </div>
    </div>
</div>
<div class="page">
    <div class="container h-100 py-4">
        <div class="justify-content-between row my-4 d-flex">
            <div class="col-sm-6 col-xs-12 text-center align-self-center">
                <img width="50%" height="auto" src="assets/threeangle-orange.png">
            </div>
            <div class="col-sm-6 col-xs-12 align-self-center">
                <h3 class="py-3">Выполняем работы таких типов:</h3>
                <p class="py-2 small-text">Дипломная работа, Курсовая работа, Реферат, Контрольная работа, Эссе, Статья, Презентация, Отчет по практике, Магистерская работа, Решение задач, Чертеж, Доклад, Набор текста, Копирайтинг, Лабораторная работа, Сочинения, Перевод
                </p>
                <p class="py-2 small-text">
                    Вы можете заказать работу по любой дисцплине.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container h-100 py-4">
        <div class="d-flex my-4 justify-content-around text-center">
            <div >
                <img width="50" height="auto" src="assets/atom.png">
                <h5>Точные науки</h5>
               <p class="middle-text">
                <br>Программирование
                <br>Статистика
                <br>Экономика
                <br>Биология
                <br>Анатомия
                <br>Физика
                <br>Математика
                <br>Механика
                </p>
            </div>
            <div >
                <img width="50" height="auto" src="assets/poet.png">
                <h5>Гуманитарные науки</h5>
                <p class="middle-text">
                <br>Менеджмент
                <br>Маркетинг
                <br>Журналистика
                <br>Английский
                язык
                <br>Архитектура
                <br>Педагогика
                <br>Химия
                <br>Литература​
                </p>
            </div>
            <div >
                <img width="50" height="auto" src="assets/idea.png">
                <h5>Разное</h5>
                <p class="middle-text">
                <br>Астрономия
                <br>Живопись
                <br>Музыка
                <br>История
                <br>Археология
                <br>Право
                <br>Этика
                <br>Юриспруденция
                </p>
        </div>
    </div>
</div>
<div class="bg-red">
<div class="container ">
        <div class="row">
            <div class="custom-justify-container py-4 col-md-6 col-sm-12">

                    <p>свяжись с нами</p>
                    <h3>Тебе нужен проект?</h3>
                    <div class="my-4">
                        <button class="button"
                        [innerText]="text.button.title"
                        (click)="contactClick()">
                        </button>
                    </div>
            </div>
            <div class="custom-justify-container py-4 col-md-6 col-sm-12">
                    <p>оставайся на связи</p>
                    <h3>Ты хочешь с нами работать?</h3>
                    <div class="my-4">
                        <button class="button"
                        [innerText]="text.contactbutton.title"
                        (click)="sendEmail()">
                        </button>
                    </div>
            </div>
        </div>
</div>
</div>
