@import '../../../styles/colors';
@import '../../../styles/breakpoints';

.telegram {
  cursor: pointer;
}

.footer div:first-child {
  text-align: left!important;
}

@media screen and (max-width: 768px) {
  .footer div:first-child {
    text-align: center!important;
  }
}
