<footer class="bg-dark">
    <div class="container">
        <div class="row footer py-4">
            <div class="col-md-3 col-xs-12">LOGO</div>
            <div class="col-md-3 col-xs-12">
                <h6>Office</h6>
                <p class="py-2 small-text">
                    <a href="naotlichno.com.ua@gmail.com?subject=Mail from Our Site">
                        naotlichno.com.ua@gmail.com
                    </a>
                </p>
                <p class="py-2 small-text">
                    <a href="tel:+380977162157">+38 097 7162157</a>
                </p>
            </div>
            <div class="col-md-3 col-xs-12">
                <h6>Links</h6>
                  <p class="small-text">
                    <a class="" href="#">О Нас</a>
                  </p>
                  <p class="small-text">
                    <a class="" href="#">Контакт</a>
                  </p>
                  <p class="small-text">
                      <a class="" href="#">Прайс лист</a>
                  </p>
                  <p class="small-text">
                      <a class="" href="#">Оплата</a>
                  </p>
            </div>
            <div class="col-md-3 col-xs-12">
                <h6>Socials</h6>
                <a class="col" href="#">
                    <img src="assets/telegram-footer.png" class="social-icons" width="20" height="20">
                </a>
                <a class="col" href="#">
                    <img src="assets/instagram-footer.png" class="social-icons" width="20" height="20">
                </a>
                <a class="col" href="#">
                    <img src="assets/whatsapp-footer.png" class="social-icons" width="20" height="20">
                </a>
            </div>

        </div>
    </div>    
    <div class="container">
        <small class="footer text-center">
            Все права защищены 
            {{ nowFormatted }}
        </small>
    </div>
</footer>
